@model IEnumerable<ApnCore_Crud.Models.UsuarioEstabelecimento>

@{
    ViewData["Title"] = "Index";
}
<br />
<h2>Adicionar Estabelecimento</h2>
<hr />

<p>
    <a class="btn btn-primary" asp-action="Create" asp-route-id="@ViewBag.IdUsuario">Adicionar Estabelecimento</a>
</p>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEstabelecimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeEstabelecimento)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEstabelecimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeEstabelecimento)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdUsuario" class="btn btn-outline-secondary"><span data-feather="edit"></span></a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdUsuarioEstabelecimento">Excluir</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index">Voltar</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}